@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Tusker Grotesk';
        src: url('/src/assets/fonts/tusker-grotesk/TuskerGrotesk-7600Semibold.woff2')
                format('woff2'),
            url('/src/assets/fonts/tusker-grotesk/TuskerGrotesk-7600Semibold.woff')
                format('woff');
        font-weight: 600;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'Roobert';
        src: url('/src/assets/fonts/roobert/Roobert-RegularItalic.woff2')
                format('woff2'),
            url('/src/assets/fonts/roobert/Roobert-RegularItalic.woff')
                format('woff');
        font-weight: normal;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: 'Roobert';
        src: url('/src/assets/fonts/roobert/Roobert-Medium.woff2')
                format('woff2'),
            url('/src/assets/fonts/roobert/Roobert-Medium.woff') format('woff');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Roobert';
        src: url('/src/assets/fonts/roobert/Roobert-HeavyItalic.woff2')
                format('woff2'),
            url('/src/assets/fonts/roobert/Roobert-HeavyItalic.woff')
                format('woff');
        font-weight: 900;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: 'Roobert';
        src: url('/src/assets/fonts/roobert/Roobert-Heavy.woff2')
                format('woff2'),
            url('/src/assets/fonts/roobert/Roobert-Heavy.woff') format('woff');
        font-weight: 900;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Roobert';
        src: url('/src/assets/fonts/roobert/Roobert-SemiBoldItalic.woff2')
                format('woff2'),
            url('/src/assets/fonts/roobert/Roobert-SemiBoldItalic.woff')
                format('woff');
        font-weight: 600;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: 'Roobert';
        src: url('/src/assets/fonts/roobert/Roobert-Light.woff2')
                format('woff2'),
            url('/src/assets/fonts/roobert/Roobert-Light.woff') format('woff');
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Roobert';
        src: url('/src/assets/fonts/roobert/Roobert-Regular.woff2')
                format('woff2'),
            url('/src/assets/fonts/roobert/Roobert-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Roobert';
        src: url('/src/assets/fonts/roobert/Roobert-Regular.woff2')
                format('woff2'),
            url('/src/assets/fonts/roobert/Roobert-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Roobert';
        src: url('/src/assets/fonts/roobert/Roobert-SemiBold.woff2')
                format('woff2'),
            url('/src/assets/fonts/roobert/Roobert-SemiBold.woff')
                format('woff');
        font-weight: 600;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Roobert';
        src: url('/src/assets/fonts/roobert/Roobert-MediumItalic.woff2')
                format('woff2'),
            url('/src/assets/fonts/roobert/Roobert-MediumItalic.woff')
                format('woff');
        font-weight: 500;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: 'Roobert';
        src: url('/src/assets/fonts/roobert/Roobert-LightItalic.woff2')
                format('woff2'),
            url('/src/assets/fonts/roobert/Roobert-LightItalic.woff')
                format('woff');
        font-weight: 300;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: 'Roobert';
        src: url('/src/assets/fonts/roobert/Roobert-BoldItalic.woff2')
                format('woff2'),
            url('/src/assets/fonts/roobert/Roobert-BoldItalic.woff')
                format('woff');
        font-weight: bold;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: 'Roobert';
        src: url('/src/assets/fonts/roobert/Roobert-Bold.woff2') format('woff2'),
            url('/src/assets/fonts/roobert/Roobert-Bold.woff') format('woff');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Roobert';
        src: url('/src/assets/fonts/roobert/RoobertItalic-Regular.woff2')
                format('woff2'),
            url('/src/assets/fonts/roobert/RoobertItalic-Regular.woff')
                format('woff');
        font-weight: normal;
        font-style: italic;
        font-display: swap;
    }

    html {
        letter-spacing: 0em;
    }
    body,
    div,
    span,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    svg {
        margin: 0;
        padding: 0;
        border: 0;
    }

    @supports (-webkit-backdrop-filter: blur(1px)) {
        svg {
            height: intrinsic;
            width: intrinsic;
        }
    }
    @media (max-width: 599px) {
        /* S */

        h1 {
            font-family: 'Tusker Grotesk';
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            line-height: 40px;
        }
        h2 {
            font-family: 'Tusker Grotesk';
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
            line-height: 36px;
        }
        h3 {
            font-family: 'Roobert';
            font-style: normal;
            font-weight: 750;
            font-size: 24px;
            line-height: 32px;
        }
        h4 {
            font-family: 'Roobert';
            font-style: normal;
            font-weight: 750;
            font-size: 20px;
            line-height: 28px;
        }
        h5 {
            font-family: 'Roobert';
            font-style: normal;
            font-weight: 750;
            font-size: 18px;
            line-height: 28px;
        }
        h6 {
            font-family: 'Roobert';
            font-style: normal;
            font-weight: 750;
            font-size: 16px;
            line-height: 24px;
        }
        p {
            font-family: 'Roobert';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
        }
    }
    @media (min-width: 600px) {
        /* M */
        h1 {
            font-family: 'Tusker Grotesk';
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 48px;
        }
        h2 {
            font-family: 'Tusker Grotesk';
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            line-height: 40px;
        }
        h3 {
            font-family: 'Roobert';
            font-style: normal;
            font-weight: 750;
            font-size: 30px;
            line-height: 36px;
        }
        h4 {
            font-family: 'Roobert';
            font-style: normal;
            font-weight: 750;
            font-size: 24px;
            line-height: 32px;
        }
        h5 {
            font-family: 'Roobert';
            font-style: normal;
            font-weight: 750;
            font-size: 20px;
            line-height: 28px;
        }
        h6 {
            font-family: 'Roobert';
            font-style: normal;
            font-weight: 750;
            font-size: 18px;
            line-height: 28px;
        }
        p {
            font-family: 'Roobert';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
        }
    }
    @media (min-width: 900px) {
        /* L */
        h1 {
            font-family: 'Tusker Grotesk';
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 48px;
        }
        h2 {
            font-family: 'Tusker Grotesk';
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            line-height: 40px;
        }
        h3 {
            font-family: 'Roobert';
            font-style: normal;
            font-weight: 750;
            font-size: 30px;
            line-height: 36px;
        }
        h4 {
            font-family: 'Roobert';
            font-style: normal;
            font-weight: 750;
            font-size: 24px;
            line-height: 32px;
        }
        h5 {
            font-family: 'Roobert';
            font-style: normal;
            font-weight: 750;
            font-size: 20px;
            line-height: 28px;
        }
        h6 {
            font-family: 'Roobert';
            font-style: normal;
            font-weight: 750;
            font-size: 18px;
            line-height: 28px;
        }
        p {
            font-family: 'Roobert';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
        }
    }
    @media (min-width: 1200px) {
        /* XL */
        h1 {
            font-family: 'Tusker Grotesk';
            font-style: normal;
            font-weight: 600;
            font-size: 60px;
            line-height: 60px;
        }
        h2 {
            font-family: 'Tusker Grotesk';
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 48px;
        }
        h3 {
            font-family: 'Roobert';
            font-style: normal;
            font-weight: 750;
            font-size: 36px;
            line-height: 40px;
        }
        h4 {
            font-family: 'Roobert';
            font-style: normal;
            font-weight: 750;
            font-size: 30px;
            line-height: 36px;
        }
        h5 {
            font-family: 'Roobert';
            font-style: normal;
            font-weight: 750;
            font-size: 24px;
            line-height: 32px;
        }
        h6 {
            font-family: 'Roobert';
            font-style: normal;
            font-weight: 750;
            font-size: 20px;
            line-height: 28px;
        }
        p {
            font-family: 'Roobert';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
        }
    }

    html {
        height: 100%;
    }
    body {
        height: 100%;
        margin: 0;
        overflow: hidden;
        position: relative;
    }
    div#root {
        height: 100%;
    }
}
